logger:
  level: info

server:
  host: ~
  port: 8080

image:
  source:
    provider: fs
    fs:
      path: /var/lib/image-service/source
  cache:
    provider: fs
    fs:
      path: /var/lib/image-service/cache
      life_time: 1w
      clean_interval: 1h
  support:
    extensions:
      jpg: true
      jpeg: true
      png: true
      webp: true

auth:
  secret: ~
