server:
  host: ~
  port: 8574

image:
  source:
    provider: fs
    fs:
      path: ./var/lib/image-service/source
  cache:
    provider: fs
    fs:
      path: ./var/lib/image-service/cache
  support:
    extensions:
      jpg: true
      jpeg: true
      png: true
      webp: true
